.search {
    position: relative;
    left: 63%;
}

.search-2 {
    position: relative;
    left: 70%;
}

.search-3 {
    position: relative;
    left: 77.5%;
}

html,
body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    margin-left: 20%;
    margin-right: 20%;
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}

.footer-text {
    text-align: center;
    color: #afb4ba;
}